.carousel {
    display:grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);    
    justify-content:space-between;
    width: 80vw;
    height: 40vh;
    max-width: 800px;
    border-radius: 12px;
    gap: 0.5rem;
    overflow: hidden;
    border: 1px solid #ccc;
    position: relative;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.carousel-btn {
    background: #333;
    height: 50px;
    margin:0 10px;
    color: #ccc;
    border: none;
    padding: 0.75rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.5rem;
}

#prev{
    grid-column: 1;
    grid-row: 1;
    margin-top: 10px;
}

#next{
    grid-column: 8;
    grid-row:5;
    margin-bottom:10px;
}

.carousel-card {
    position :absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    text-align: center;
    text-justify: center;
    padding: 0;
    background: #444;
    color: #ccc;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    grid-row: 2 / 5;
    grid-column: 2 / 8;
    border-radius: 12px;
    font-size:5rem;
    font-family: 'Smooch sans variable', sans-serif;
}

