/* This Section serves as the navbar's styling*/

.header{
    background-color: #021155;
    padding: 20px;
    color: white;
    text-align: center;
    max-width: 100vw;
}
.navButtons{
    color:yellow;
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    width: 100%;
    padding: 0 20px;
    list-style: none;
    top: 0px;
    font-family: 'Smooch sans variable', sans-serif;
    font-size: 22px;
}
#blinking{
    color: blueviolet;
    animation: blinking-animation 1s steps(5, start) infinite;
}

.hero{
    background: linear-gradient(to right, #021155, #4f40ff);
    color: white;
    padding: 50px 20px;
    text-align: center;
    font-family: 'Smooch sans variable', sans-serif;
}
/* This Section serves as the switchCard styling*/
.carousel-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    transform-origin: 50% 50%;
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
}
.carousel-container:hover{
    transform: scale(1.02);
}

.carousel-card{
    flex: 1 1 0;
    min-width: 5%;
    height: 280px;
    border-radius: 8px;
    transform-origin: 50% 50%;
    background: lightgray;
    color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin: 8px;
    transition: box-shadow 0.3s;
}
.carousel-card:hover{
    box-shadow: 0 0 10px 2px #4f40ff, 0 0 20px 4px #5e35be, 0 0 30px 6px #38125c
}



@keyframes blinking-animation {
    to {
        visibility: hidden;
    }
}
@font-face {
    font-family:'Smooch sans variable';
    src: url('../assets/SmoochSans-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
}