:root{
    --drawer-w:280px;
    --menu-duration: 0.3s;
    --menu-ease: cubic-bezier(.22, .61, .36, 1);
    --stagger-gap: 60ms;
    --slide-distance: 10px;
    --nav-h: 64px;
}

/* drawer container*/
.mobile-menu{
    position: fixed;
    top: calc(var(--nav-h) + 50px);
    right: 40px;
    width: var(--drawer-w);
    height: 250px;
    background: rgb(54, 51, 51);
    color: rgb(189, 181, 181);
    padding: 1.25rem 1.25rem;
    transition: transform var(--menu-duration) var(--menu-ease);
    will-change: transform;
    z-index: 60;
    box-shadow: -4px 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateX(calc(100% + 50px));
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-menu.open{
    transform:translateX(0);
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Link list*/
.mobile-links{
    margin-top: 0;
    list-style: none;
    display: grid;
    gap: 1rem;
    padding: 0px;
    margin: 0px;
}
.mobile-link a{
    list-style:none;
    padding: 0.75rem 0;
    text-decoration: none;
    color: #e9e9e9;
    font-weight: 600;
    letter-spacing: 2px;
    opacity: 0;
    transform: translateY(var(--slide-distance));
}

/* slide/fade in animations on loading menu*/
.mobile-menu.open .mobile-link a{
    animation: linkIn 360ms var(--menu-ease) forwards;
    animation-delay: calc(var(--i) * var(--stagger-gap));
}

@keyframes linkIn {
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

/*reduced motion in case*/
@media (prefers-reduced-motion:reduce){
    .mobile-menu{ transition: none; }
    .mobile-menu.open .mobile-link a {
        animation: none; opacity: 1; transform: none; 
    }
}